<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Thank You!</h1>
    {% if last_entry %}
        <p>Name: {{ last_entry.name }}</p>
        <p>Email: {{ last_entry.email }}</p>
        <p>Message: {{ last_entry.message }}</p>
    {% else %}
        <p>No data submitted yet.</p>
    {% endif %}
    <a href="/">Go back to form</a>
</body>
</html>
